
* { box-sizing: border-box; }


body{
  margin: 0;
  overflow: hidden;
  background: #fff;
}

.stage{
  position: relative;
  width: 100vw;
  height: 100vh;
}


.name{
  font-family: 'Cormorant Garamond', serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
  font-size: 90px;
  font-weight: 300;
  line-height: 1.05;
  color: #0b0b0b;
  
}
.hide{
  opacity:0;
}

.para{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  opacity:0;
  transition:opacity .4s ease;
  width:60%;
  text-align:center;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size:20px;
}

.show{
  opacity:1;
}



.dot{
  position:absolute;
  width:16px;
  height:16px;
  border-radius:80%;
  background:#80edf5;
  opacity:0.6;
  transition: transform .2s ease;
  
}

.dot:hover{
  transform: scale(2);
  opacity:1;

}


.dot1{ left: 8vw;  top: 15vh; }
.dot2{ left: 8vw;  top: 25vh; }
.dot3{ left: 8vw;  top: 35vh; }
.dot4{ left: 8vw;  top: 45vh; }
.dot5{ left: 8vw;  top: 55vh; }
.dot6{ left: 8vw;  top: 65vh; }
.dot7{ left: 8vw;  top: 75vh; }
.dot8{ left: 8vw;  top: 85vh; }

.dot9{  right: 8vw; top: 15vh; }
.dot10{ right: 8vw; top: 25vh; }
.dot11{ right: 8vw; top: 35vh; }
.dot12{ right: 8vw; top: 45vh; }
.dot13{ right: 8vw; top: 55vh; }
.dot14{ right: 8vw; top: 65vh; }
.dot15{ right: 8vw; top: 75vh; }
.dot16{ right: 8vw; top: 85vh; }

.nextBig{
  transform: scale(2);
  opacity: 1;
}

.next{
  position: absolute;
  bottom: 5vh;
  right: 4vw;

  font-size: 42px;
  text-decoration: none;
  color: #000;

  transition: transform .2s ease, opacity .2s ease;
  opacity: 0.6;
}

.next:hover{
  transform: translateX(6px);
  opacity: 1;
}

.prev{
  position: absolute;
  bottom: 5vh;
  left: 4vw;

  font-size: 42px;
  text-decoration: none;
  color: #000;

  transition: transform .2s ease, opacity .2s ease;
  opacity: 0.6;
}

.prev:hover{
  transform: translateX(-6px);
  opacity: 1;
}

.top-link{
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);

  font-size: 28px;
  text-decoration: none;
  color: #000;

  opacity: 0.6;
  transition: transform .25s ease, opacity .25s ease;
}

.top-link:hover{
  transform: translateX(-50%) scale(1.2);
  opacity: 1;
}
