
* { box-sizing: border-box; }


body{
  margin:0;
  overflow:hidden;
}

.stage{
  position:relative;
  width:100vw;
  height:100vh;
}

.name{
  font-family: 'Cormorant Garamond', serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
  font-size: 90px;
  font-weight: 300;
  line-height: 1.05;
  color: #0b0b0b;
  transition:opacity .25s ease;
}

.hide{
  opacity:0;
}

.para{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  opacity:0;
  transition:opacity .4s ease;
  width:60%;
  text-align:center;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size:20px;
}

.show{
  opacity:1;
}

.dot{
  position:absolute;
  width:16px;
  height:16px;
  border-radius:80%;
  background:#80edf5;
  opacity:0.6;
  transition: transform .2s ease;
  
}


.dot:hover{
  transform:scale(2);
  opacity:1;
}

.d1{ left:8vw;  top:20vh; }
.d2{ left:8vw;  top:40vh; }
.d3{ left:8vw;  top:60vh; }
.d4{ left:8vw;  top:80vh; }

.d5{ right:8vw; top:25vh; }
.d6{ right:8vw; top:45vh; }
.d7{ right:8vw; top:65vh; }
.d8{ right:8vw; top:85vh; }

.d1:hover + .d2,
.d2:hover + .d3,
.d3:hover + .d4,
.d4:hover + .d5,
.d5:hover + .d6,
.d6:hover + .d7,
.d7:hover + .d8{
  transform: scale(1.8);
}

.top-link{
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);

  font-size: 28px;
  text-decoration: none;
  color: #000;

  opacity: 0.6;
  transition: transform .25s ease, opacity .25s ease;
}

.top-link:hover{
  transform: translateX(-50%) scale(1.2);
  opacity: 1;
}

.next{
  position: absolute;
  bottom: 3vh;
  right: 7vw;

  font-size: 42px;
  text-decoration: none;
  color: #000;

  transition: transform .2s ease, opacity .2s ease;
  opacity: 0.6;
}

.next:hover{
  transform: translateX(6px);
  opacity: 1;
}